@import './mixin.scss';
html,
body {
  overflow: hidden;
}

// 基础容器修改滚动样式
.form-container {
  @include scroll-beautify;
  padding: 10px;
}

// 表单title
.form-title {
  color: #181a1c;
  font-size: 18px;
  margin-top: 10px;
  padding-bottom: 10px;
}

// 工具栏样式
.toolbar {
  background-color: #f2f2f2;
  margin-bottom: 5px;
  padding: 8px;
}

.toolbar.search {
  padding-bottom: 0 !important;
}

.toolbar.footer {
  margin-top: 5px;
  text-align: right;
}

// 表格超链接
.table-link {
  color: #409eff;
  cursor: pointer;
  text-decoration: underline;
}
