// 滚动条样式
@mixin scroll-beautify {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    background-color: #eef1f6;
    height: 5px;
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #B9CCDD;
  }
}